<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.arkanoid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar">

        <activity android:name=".ChallengeListActivity" android:label="@string/label_challenge_list"/>

        <activity android:name=".PersonalLevelsActivity" android:label="@string/label_personal_levels"/>

        <activity android:name=".CreateLevelActivity" android:label="@string/label_create_level"/>

        <activity android:name=".ContactUsActivity" android:label="@string/label_contact_us"/>

        <activity android:name=".NavigationMenuActivity" />

        <activity android:name=".SettingsActivity" android:label="@string/label_settings"/>

        <activity android:name=".ResetPasswordActivity" android:label="@string/label_reset_password"/>

        <activity android:name=".UserProfileActivity" android:label="@string/label_profile"/>

        <activity android:name=".MessagesActivity" />

        <activity android:name=".UsersListActivity" android:label="@string/label_user_list"/>

        <activity android:name=".ThemeLevelsActivity" android:label="@string/label_theme_mode"/>

        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".CreateLevel" />

        <activity android:name=".MainActivity" />

        <activity android:name=".MenuActivity" />

        <activity
            android:name=".SignInActivity"
            android:parentActivityName=".LoginActivity"
            android:label="@string/label_sign_in"/>

        <activity android:name=".LoginActivity" android:label="@string/label_login">

        </activity>
    </application>

</manifest>